.importance{
  padding: .7em;
  border-radius: 2px;
  color:#dddddd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pendiente{
  background-color: #0c9600;
}

.vencido{
  background-color: #b30505;
}

.no_relevante{
  background-color: #ee8309;
}
