<header class="header">
  <h1>Lista de tareas</h1>

  <nav>
    <form class="header-form">
      <app-custom-select />
      <div class="container-input">
        <label for="search">Búsqueda de tareas</label>
        <input type="text" name="search" id="search" placeholder="search">
      </div>
      <div class="container-input">
        <label for="date">Búsqueda por fecha</label>
        <input type="date" name="date" id="date" placeholder="date">
      </div>
      <button>Filtrar</button>
    </form>
  </nav>

</header>